
/*body {*/
    /*background:#EFEFEF;*/
    /*color:#FFF;*/
/*}*/

/*body.loadPageStart {*/
    /*background:#336699;*/
/*}*/

/*body.loadPageEnd {*/
    /*background:#003366;*/
/*}*/

body.hide {
    visibility: hidden;
}

h2 {
    margin-left:10px;
}

#list {
    display: none;
    margin-left:10px;
}

#list table.table-list {
}

#list table.table-list {
    /*background:#CCCCCC;*/
}

#list table tr td {
    width: 450px;

}

#list table tr td.tr-title {
    background: #003366;
}

#list table.table-list tr.template_line {
    display:none;
}

#section-form {
    display: none;
    margin-left:10px;
}

#section-form label {
    display: block;
}

#section-form input[type="text"] {
    border:1px solid #CCC;
    display: block;
    width:500px;
}

#section-form input[type="button"] {
    margin-top:20px;
}

#message {
    display: none;
    margin:10px;
}

#message.success {
    border:1px solid darkgreen;
}
#message.error {
    border:1px solid darkred;
}

